doctype html
html
    head
        title  #{pageTitle} | #{siteName}
    body
        main
            h1.videoBlock__title=movie.title
            h3.videoBlock__synopsis=movie.synopsis
            h3.videoBlock__genre=movie.genre